#logo{
    width:35px;
    height:35px;
}

.pop {
  margin-top: 16px;
}

#search {
  margin-top: 8px;
}

#searchButton {
  margin-top: 8px;
}

.start{
  padding: 50px 15px;
  text-align: left;
}

.col-lg-9 {
	padding-left: 0px;
}

#queue {
  margin-top: 51px;
  margin-left: 60px;
  background-color: rgb(216,216,216);  
  height: 160px;
  border: 2px solid gray;
  border-radius: 3px;
  position: fixed;
  z-index: 10;
}

.qimage {
  width: 80px;
  height: 80px;
}

.qtext {
  text-align: center;
  font-size: 80%;
  overflow: hidden;
  height: 40px;
}

.movie {
  width: 75%;
}

#movies {
  margin-top: 120px;
}

.qitem {
  background-color: white;
  display: inline-block;
  height: 120px;
  top: 20px;
  position: relative;
  margin-left: 15px;
  width: 80px;
}

/*.qitem:hover {
  background-color: gray;
}*/

.panel-horizontal .panel-heading {
       float: left;
       width: 19%;
       padding-left: 15px;

       border-right: 15px;
       border-top-right-radius: 0;
       margin-bottom: 0;
}

.panel-horizontal .panel-body {
       float: right;
       margin: 0 0 15px 0;
       padding-bottom: 0;
       width: 80%;
       padding: 0;
}

.article_modal {
	float: right;
	margin-top: 15px;
}

.ratings {
	margin-top: 15px;
}

.userId {
    display: none;
}

#prototype, #rating_prototype {
    display: none;
}

.nl {
    visibility: hidden;
}

.chat-panel {
	width:	300px;
	height: 600px;
  margin-top: 180px;
}

.panel-body {

}

#source {
	font-weight: bold;
}

#author {
	float: left;
	color: gray;
}

#art_image {
	vertical-align: middle;
}