.results {
	margin-left: 10px;
	margin-right: 10px;
}

.row {
	margin-bottom: 10px;
}
.title_box { 
    border: 2px solid #E5E5E5;*/; 
}

a:visited {
    color: #800080;
}

.title_box #title { 
    position: relative; 
    top : -0.5em;
    margin-left: 1em;
    display: inline; 
    background-color: white; 
}

.title_box #content {
	margin-left: 1em;
}